# Neon
DATABASE_URL=
DATABASE_URL_UNPOOLED=
NEON_BRANCH=

# Chain
SIWE_CHAIN_ID=5042
SIWE_CHAIN_NAME=Arc
SIWE_RPC_URL=https://rpc.mainnet.arc.io
SIWE_EXPLORER_URL=https://explorer.arc.io
SIWE_CURRENCY_NAME=USDC
SIWE_CURRENCY_SYMBOL=USDC
SIWE_CURRENCY_DECIMALS=6

# Reown
REOWN_PROJECT_ID=
